.pyjack_listing{border: 1px solid #eee; margin-bottom: 1rem;}
.pyjack_bak{background-size: cover; background-position: center center; min-height: 15rem;}
.pyjack_pad{padding: 1rem;}
.pyjack-data{list-style: none !important; padding: 0 !important; margin: 0 0 1rem 0 !important;}
.pyjack_pane{padding: 1rem; background: #eee; margin: 1rem 0;}
.pyjack-button{width: 100%; margin-top: 1rem;}

ul.pagination{margin: 0 0 0.5rem 0!important;  padding:0 !important; text-align: center !important; list-style: none !important; }
ul.pagination li{display: inline-block !important; padding: 0 0.25rem;}
li.active a{font-weight: bold; text-decoration: underline !important;}
ul.pagination li a{text-decoration: none;}

.form-group{margin: 0 0 1rem 0;}
.form-group input, .form-group textarea{margin-top: 0.25rem; width: 100%;}

#pyjack-calc{overflow: hidden; margin: 1rem 0;}

.slick-next{right: 0 !important;}
.slick-prev{left: 1px !important; z-index: 1000;}

.smaller{position: absolute; bottom: 0rem; height:3rem; padding-top: 0.5rem; font-size: 0.85rem; width: 100%; margin: 0 !important; background: white;}
.smaller li{margin:0; padding:0 !important;}